
body {
  font-family: Roboto, sans-serif;
}

#main {
  width: 100%;
  height: 100%;
}
#zoom-buttons {
  margin-left: 20px;
  position: absolute;
  top: 90px;
}
#home-button {
  margin-left: 20px;
  position: absolute;
  top: 200px;
}
#geolocation-control {
  margin-left: 20px;
  position: absolute;
  top: 255px;
}
#editpopup {
  z-index: 1;
}
#layerlist {
  position: absolute;
  right: 30px;
  top: 86px;
}
.layerlistbutton {
  position: absolute !important;
  right: 0px;
  top: 0px;
}
.layer-tree-panel {
  margin-right: 50px;
}
#globe-button {
  z-index: 1111;
  position: absolute;
  top: 195px;
  margin-left: 20px;
}
.layer-switcher {
  top: 76px !important;
}
.edit-tool-panel {
  display: none;
  position: absolute;
  left: 652px;
  top: 56px;
  max-width: 50%;
  z-index: 1111;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map {
  width: 100%;
  top: 56px;
  position: absolute;
  height: calc(100% - 56px);
}

#content {
  width: 100%;
  height: 100%;
  position:fixed;
  bottom: 0px;
}
.geocoding-results-panel {
  background-color: white;
  display: none;
  position: absolute;
  top: 56px;
  right: 0px;
  max-width: 50%;
  z-index: 1111;
}
.query-panel {
  display: none;
  left: 387px;
  top: 56px;
  position: absolute;
  max-width: 50%;
  z-index: 1111;
}
.attributes-table {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 101;
  background-color: white;
}
.chart-panel{
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 101;
}
